/* 
=====================================================================

Project name: BrandRise Solutions

Description: The BrandRise Solutions is a website for the digital agency. It is developed and designed for the digital agencies. 

# BrandRise Solutions

## About Brandrise Solution

### BrandRise solutions is an digital agency software (Website) which has been developed for the digital agency and related companies. The website has the mordern design with the lattest features. The website has been created with the mordern design sense and the minimalistic look.

## The Features of the website

### The website has many features, such as :-
<ul> 

#### <li>  Mordern Design </h4> </li>
#### <li>  Fully Responsive  </li>
#### <li> User Friendly </li>
#### <li> Perfectly designed UI / Ux </li>
#### <li> Designed for Best User Experience </li>

</ul>

#### Therefore, BrandRise solutions has more features like this.

## The CyberSphere Innovations
### The BrandRise Solutions is a product of the CyberSphere Innovations software company. It has been created, designed and developed by the CyberSphere Innovations Aurthor and the team of CyberSphere Innovations. 


Aurthor(s) : The CyberSphere Innovations Team .


License : THE WEBSITE INCLUDES ALL THE ENVATO ELEMENTS LICENSE POLICIES AND ALL THE THEMEFOREST LICENSE POLICIES.




NOTE: THE WEBSITE INCLUDES ALL THE ENVATO ELEMENTS LICENSE POLICIES AND ALL THE THEMEFOREST LICENSE POLICIES.









=====================================================================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.sidebar-section{
    height: auto;
}
.logo img{
    height: 150px;
    width: 150px;
}
/* .sidebar-section ul li:hover{
    background-color: white !important;
    width: 200px;
} */






